<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediksi Machine Learning</title>
    <!-- Tambahkan tautan Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 50px;
        }

        h1 {
            color: #007bff;
        }

        label {
            font-weight: bold;
        }

        button {
            margin-top: 20px;
        }

        p {
            font-weight: bold;
            color: #28a745;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Prediksi Machine Learning</h1>

        <form action="/" method="post">
            {% if dataInputan[0] =='' %}
            <div class="form-group">
                <label for="Usia">Usia</label>
                <input type="text" class="form-control" id="Usia" name="Usia" placeholder="Masukkan Usia" required/>
            </div>

            <div class="form-group">
                <label for="Status">Status</label>
                <input type="text" class="form-control" id="Status" name="Status" placeholder="Masukkan Status ((0=single, 1=menikah, 2=menikah mempunyai anak, 3=duda/janda))" required/>
            </div>
            <div class="form-group">
                <label for="Kelamin">Jenis Kelamin</label>
                <input type="text" class="form-control" id="Kelamin" name="Kelamin" placeholder="(0='laki', 1='Perempuan')" required/>
            </div>

            <div class="form-group">
                <label for="Penghasilan">Penghasilan</label>
                <input type="text" class="form-control" id="Penghasilan" name="Penghasilan" placeholder="Masukkan Penghasilan" required/>
            </div>

            <div class="form-group">
                <label for="Memiliki_Mobil">Memiliki Mobil</label>
                <input type="text" class="form-control" id="Memiliki_Mobil"  name="Memiliki_Mobil" placeholder="Apakah memiliki Mobil? (1=Ya, 0=tidak)" required/>
            </div>
            <div class="form-group">
                <label for="metode">Pilih Metode</label>
                <select class="form-select form-control" name="metode">
                    <option value="knn">KNN</option>
                    <option value="naive_bayes">Naive Bayes</option>
                    <option value="tree">Tree</option>
                    <option value="random_forest">Random Forest</option>
                  </select>
            </div>
            {%else %}
            <div class="form-group">
                <label for="Usia">Usia</label>
                <input type="text" class="form-control" id="Usia" value="{{dataInputan[0]}}" name="Usia" placeholder="Masukkan Usia" required/>
            </div>

            <div class="form-group">
                <label for="Status">Status</label>
                <input type="text" class="form-control" id="Status" value="{{dataInputan[1]}}" name="Status" placeholder="Masukkan Status ((0=single, 1=menikah, 2=menikah mempunyai anak, 3=duda/janda))" required/>
            </div>
            <div class="form-group">
                <label for="Kelamin">Jenis Kelamin</label>
                <input type="text" class="form-control" id="Kelamin" value="{{dataInputan[2]}}" name="Kelamin" placeholder="(0='laki', 1='Perempuan')" required/>
            </div>

            <div class="form-group">
                <label for="Penghasilan">Penghasilan</label>
                <input type="text" class="form-control" id="Penghasilan" value="{{dataInputan[3]}}" name="Penghasilan" placeholder="Masukkan Penghasilan" required/>
            </div>

            <div class="form-group">
                <label for="Memiliki_Mobil">Memiliki Mobil</label>
                <input type="text" class="form-control" id="Memiliki_Mobil" value="{{dataInputan[4]}}" name="Memiliki_Mobil" placeholder="Apakah memiliki Mobil? (1=Ya, 0=tidak)" required/>
            </div>

            <div class="form-group">
                <label for="metode">Pilih Metode</label>
                <select class="form-select form-control" name="metode">
                    <option value="{{dataInputan[5]}}">{{dataInputan[5]}}</option>
                    <option value="knn">KNN</option>
                    <option value="naive_bayes">Naive Bayes</option>
                    <option value="tree">Tree</option>
                    <option value="random_forest">Random Forest</option>
                  </select>
            </div>
          
            {%endif%}
            {%if result == 0 %}
                <p>Hasil : Tidak beli mobil dengan menggunakan metode {{dataInputan[5]}}</p>
            {%elif result== ''%}
            <p>Silahkan mengisi form diatas terlebih dahulu</p>
            {%else%}
                <p>Hasil : Membeli Mobil dengan menggunakan metode {{dataInputan[5]}}</p>
            {%endif%}
            <button type="submit" class="btn btn-primary">Prediksi</button>
        </form>
    </div>
</body>
</html>
 